<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="guinget.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
  
  <userSettings>
    <guinget.My.MySettings>
      <setting name="HideUnfinishedControls" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseBuiltinCacheUpdater" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InstallInteractively" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RerunSearchAfterCacheUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Use7zipForExtraction" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PathTo7zip" serializeAs="String">
        <value>"C:\Program Files\7-Zip\7z.exe"</value>
      </setting>
      <setting name="UseRobocopyForCopying" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowSidebar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoadFromSqliteDb" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpgradeSettingsFromPreviousVersion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExactMatchForLastSelectedIDSearch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DebuggingBypassCacheUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnlyDisplayLatestPackageVersion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowLastSelectedPackageDetails" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ElevateWinget" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SearchWhenTyping" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchWhenTypingTimerInterval" serializeAs="String">
        <value>500</value>
      </setting>
    </guinget.My.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.976" newVersion="2.0.4.976" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Sqlite" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
